.arc text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: white;
    text-anchor: middle;
}

.legend {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

.axis {
    font-size: 12px;
}